@import "tailwindcss";

@theme {
  --font-pixel: "Jaro Variable";
  --font-body: "Jersey 25";
  --color-be-mine-gray: #445871;
  --color-be-mine-green: #83b89a;
  --color-be-mine-red: #dd2e44;
  --color-light-gray: #ccd6dd;
}

.bg-grid {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.09) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.09) 1px, transparent 1px);
}
