@import "tailwindcss";

@font-face {
  font-family: "Jaro Variable";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url(@fontsource-variable/jaro/files/jaro-latin-standard-normal.woff2)
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Jersey 25";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src:
    url(@fontsource/jersey-25/files/jersey-25-latin-400-normal.woff2) format("woff2"),
    url(@fontsource/jersey-25/files/jersey-25-latin-400-normal.woff) format("woff");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@theme {
  --font-pixel: "Jaro Variable";
  --font-body: "Jersey 25";
  --color-be-mine-gray: #445871;
  --color-be-mine-green: #83b89a;
  --color-be-mine-red: #dd2e44;
  --color-light-gray: #ccd6dd;
  --color-be-mine-dark-gray: #31373d;
  --color-be-mine-light-gray: #495565;
  --color-be-mine-light-blue: #eff6fe;
  --color-be-mine-dot: #d9d9d9;

  --animate-floating: floating 5s infinite ease-in-out;

  @keyframes floating {
    0%,
    100% {
      transform: translateY(-25%);
    }
    50% {
      transform: none;
    }
  }
}

.bg-grid {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.09) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.09) 1px, transparent 1px);
}
